
body {

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'VT323', monospace;
    background-color: #ac4b1c;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: #fca652;
}

section {
    background-color: #AC4B1C;
    min-width: 800px;
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

input{
    max-width: 300px;
    min-height: 75px;;
    font-family: 'VT323', monospace;
    font-size: 3em;
    color: #ac4b1c;
    background-color: #fca652;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #ffefa0;

}

select{
    width: 50px;


}
.answer {
    color: #ffefa0;
    padding: 5px;
    min-height: 250px;
    font-size: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

button, select{
    background-color: #ffefa0;
    color: #ac4b1c;
    font-family: 'VT323', monospace;
    font-size: 3em;
}

button:hover{
    background-color: #f2dc6f;
}


content {
    width: 80%;
}

p {
    font-size: 6em;
    color: #ac4b1c;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }